* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #0c0c0c;
  overflow-x: hidden;
}

#initialVideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#initialVideo .fullscreen-bg__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

aside {
  width: 150px;
  position: fixed;
  left: 0;
  height: 100vh;
  border-right: 1.5px solid rgba(234, 233, 233, 0.6);
  z-index: 10;
}

aside ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  overflow-x: hidden;
}

aside ul li {
  color: rgba(234, 233, 233, 0.8);
  height: 50%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

aside ul li span {
  font-weight: 700;
  letter-spacing: 0.1em;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

aside ul li div {
  position: absolute;
  height: 100%;
  width: 250%;
  background-color: rgba(234, 233, 233, 0.1);
  left: -300%;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#initial-display {
  position: fixed;
  top: 0;
  left: 150px;
  width: calc(100% - 150px);
  padding-left: 10%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#initial-display h1 {
  font-size: 13em;
  font-weight: 700;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  color: #eae9e9;
  padding-bottom: -2em;
}

#product-image {
  position: absolute;
  z-index: 5;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  height: 100%;
}

#product-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-image: url("../../images/longboard/long3.jpeg");
  background-position: center;
  background-size: cover;
}

#stagger-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  z-index: 8;
}

#stagger-container > * {
  background-color: rgba(234, 233, 233, 0.3);
  -webkit-transform-origin: left;
          transform-origin: left;
}
/*# sourceMappingURL=style.css.map */